.App {
  background-color: #282c34;
  min-height: 100vh;
}

/* App.css */
.App {
  text-align: center;
  color: white;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  margin: auto;
}

.main-content {
  text-align: left;
  max-width: 600px;
  margin: auto;
}

.main-content h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.main-content h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.main-content p {
  font-size: 1em;
}

