 .App {
  /* background-color: #282c34; */
  background-color: black;
  /* background-image: url('./assets/bg_main.png');
  background-repeat: no-repeat; */

  /* background-position: center; */
  color: white;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* justify-content: space-between; */
  font-family: 'Sans', sans-serif;
}

.custom-cursor{
  position:fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.App-header {
  margin: auto;
}

.parent-main-container{
  display: flex;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}

.main-content {
  /* font-family: 'Sans', sans-serif; */
  text-align: left;
}

.main-content h1 {
  font-size: 1em;
  /* margin-bottom: 0.5em; */
  color: #bababa;
}

.main-content h2 {
  font-size: 5em;
  /* margin-bottom: 0.5em; */
  font-weight: 600;
}

.main-content p {
  font-size: 1em;
  color: #bababa;
}

.main-title{
  display: flex;
  /* flex-wrap: nowrap; */
}

@media (max-width: 900px) {
  .main-title{
    flex-wrap: wrap;
  }

  /* .main-title .designer-text{
    margin-top: 10px;
  } */
}

.quotes{
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin-bottom: 60px;
}

.quotes h1{
  font-style: italic;
  font-size: 3em;
}

.project-main-title h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.project-list{
  margin-bottom: 170px;
}

.project-list h4, .project-list h5{
  font-weight: bold;
}